  header{
    background: rgba(0, 220 ,120);
    border-bottom: 4px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  input{
    position: absolute;
    font-size: 1.4em;
    background-color: transparent;
    border: 2px solid black;
    line-height: 10px;
    color: black;
    padding: 5px;
    box-sizing: border-box;

  }
 
  /*
  .input_text{
    position: absolute;
    font-size: 15px;
    padding: 0 1em;
    line-height: 50px;
    z-index: -1;
    transition: all 0.1s ease;
    color: red;
    margin: 0 1em;
  }

*/

i{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 98%;
}

.menu{
    width: 80%;
  background-color: grey;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

}
  

  
